/* CSS HEX */
:root {
--light-cyan: #e0fbfcff;
--powder-blue: #c2dfe3ff;
--pewter-blue: #9db4c0ff;
--cadet: #5c6b73ff;
--gunmetal: #253237ff;
}


body {
    font-family: 'Fredoka One', sans-serif;
    background-color: var(gunmetal);
}

main {
    /* display: flex;
    flex-direction: ; */
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}


header {
    text-align: center;
    background-color: var(--pewter-blue);
    padding-bottom: 5px;
    
}

h1 {
    font-size: 3em;
}

footer {
    display: flex;
    justify-content: flex-end;
    background-color: var(cadet);
    box-shadow: var(--shadow);
}


h2 {
    font-size: 1.8rem;
    font-weight: bold;
}


content {
    width: 80%;
}

p {
    margin: var(--gutter);
}
  
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--pewter-blue);
    box-shadow: var(--shadow);
}
  

h3 {
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-self: center;
}

.quiz-area {
    background-color: var(--powder-blue);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-top: 15px;
    
}

button {
    width: 100px;
    height: 50px; 
    border-radius: 50px;
    margin-top: 20px;
}

.factors {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--cadet);
}

.basics {
    background-color: var(--powder-blue);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    

}

.image {
    background-color: violet;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: var(--light-cyan);
  

}

.family {
    background-color: var(--cadet);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    

    


}

.species {
    background-color: var(--light-cyan);
    display: list-item;
    font-size: larger;
    text-align: center;
    padding-top: 100px;
}

.olist1 {
    display: list-item;
}
    
    
    

}

.origin {
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
 

}

.language {
   background-color: var(--pewter-blue);
   display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  
    

}

.list1 {
    list-style-type: square;
    margin-top: 5px; 
    
}

ol {
    display: list-item;
    list-style-position: inside
}


