/* CSS HEX */
:root {
--light-cyan: #e0fbfcff;
--powder-blue: #c2dfe3ff;
--pewter-blue: #9db4c0ff;
--cadet: #5c6b73ff;
--gunmetal: #253237ff;
--light-cyan-2: #d1edf0ff;

}


body {
    font-family: 'Fredoka One', sans-serif;
    background-color: var(gunmetal);
    
}

main {
    /* display: flex;
    flex-direction: ; */
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
}


header {
    text-align: center;
    background-color: var(--light-cyan-2);
    padding-bottom: 5px;
    
}

h1 {
    font-size: 3em;
}




h2 {
    font-size: 1.8rem;
    font-weight: bold;
}


content {
    width: 80%;
}

p {
    margin: var(--gutter);
}
  
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: center;
    background-color: var(--light-cyan-2);
    box-shadow: var(--shadow);
}
  

h3 {
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-self: center;
}

.quiz-area {
    background-color: var(--powder-blue);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding-top: 15px;
    
}

button {
    width: 100px;
    height: 50px; 
    border-radius: 50px;
    margin-top: 20px;
}

.factors {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--powder-blue);
}

.basics {
    background-color: var(--powder-blue);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

.image {
    background-color: violet;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: var(--light-cyan);
  
}

.family {
    background-color: var(--pewter-blue);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
}

.species {
    background-color: var(--light-cyan);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

    

.origin {
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
 

}

.language {
    background-color: var(--pewter-blue);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

.list1 {
    list-style-type: square;
    margin-top: 5px; 
    
}




